<a href="https://colab.research.google.com/github/Rahulverma2045/python-practice-/blob/main/Copy_of_Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
4**2

16

In [2]:
num_1 = 672
num_2 = 56
total_num = num_1 + num_2
print(total_num)

728

In [3]:
total_num = num_1 % num_2
print(total_num)

0

In [4]:
total_num = num_1*num_2
print(total_num)

37632

In [5]:
total_num = num_1*num_2
print(total_num)

37632

In [6]:
total_num = num_1 - num_2
print(total_num)

616

In [ ]:
numbers = [2, 43, 23, 44, 21]
sorted_numbers = sorted(numbers, reverse=True)
third_largest = sorted_numbers[2]

print(third_largest)

![images.png]()

# INTEGERS AND floats

In [80]:
# addition
63+85+22

170

In [81]:
45+89

134

In [ ]:
#subtraction
900-128

In [ ]:
#multiplying
45*5

In [ ]:
#division
81/3

In [ ]:
#exponential
5**2

In [ ]:
#flooor division
56//4

In [ ]:
#modulus
6%5

## Variable = A variable is fixed name can store information of number,boolean,textual.

In [ ]:
y =55

In [ ]:
y

In [ ]:
print(y)

In [ ]:
#addition
x,y = 6,4
z = x+y
z

In [ ]:
print (z)

In [ ]:
#subtraction
x,y = 8,2
print(x)
print(y)
z = x-y
print(z)

In [ ]:
#multypling
x = 7
y = 9
y = x*y
print(y)

In [ ]:
type(y)

In [ ]:
y = 5.4
print(y)

In [ ]:
type(y)

# BOOLEAN VARIABLES
BOOLEAN VARIABLES ONLY TAKES TWO VALUE EITHER TRUE OR FALSE . IT IS USED FOR COMPARISION.

In [ ]:
boolean_variable = False
type(boolean_variable)

GREATER THAN

In [ ]:
8>4

GREATER THAN OR EQUAL TOO

In [ ]:
10>=9

LESS THAN OR EQUAL TOO

In [ ]:
7<=7

In [ ]:
4<=3

STRING = STRING ARE USED IN PYTHON TO RECORD TEXT INFORMATION SUCH AS NAMES ,WORD, SENTENCE, PARAGRAPHS,OR ENCYCLOPEDIA. FOR EX

In [ ]:
#CREATING STRING
MY_STRING = 'I AM FROM KALYAN'
MY_STRING

In [ ]:
string = 'almabetter'
print(string)

In [8]:
type(string)

NameError: ignored

In [ ]:
'ram'
'shyam'
'vijay'

In [ ]:
print('ajay\n karan')

In [ ]:
print('i completed a \n course from almabetter')

In [ ]:
shiv = 'from almabetter'
print(len(shiv))

#**String Indexing:**
#We know strings are a sequence, which means Python can use indexes to call parts of the sequence.

#A string index refers to the location of an element present in a string.

#The indexing begins from 0 in Python.

#The first element is assigned an index 0, the second element is assigned an index of 1 and so on and so forth.

# In Python, we use brackets [] after an object to call its index.

In [ ]:
string = 'rahul jaiswal'
print(string)

In [ ]:
print(string[7])

In [ ]:
print(string[3])

In [9]:
len(string)

NameError: ignored

In [ ]:
print(string[-4])

#String Slicing**
# We can use a : to perform slicing which grabs everything up to a designated point.

#The starting index is specified on the left of the : and the ending index is specified on the right of the :.
# New Section
#Remember the element located at the right index is not included.

In [ ]:
string = 'coding ninjas'
print(string[3:-1])

In [ ]:
string = 'newton'
print(string[1:-2])

In [ ]:
print(string[0:3])

# variable use

In [ ]:
str1 = 'Wel'
print(str1,'come')

In [10]:
str1 = 'Welcome'
str2 = 'Python'
print(str1, str2)

Welcome Python

#**string concatenation**: String concatenation is the "addition" of two strings. Observe that while concatenating there will be no space between the strings.

In [11]:
str1 = 'Python'
str2 = ':'
print('Welcome' + str1 + str2)

WelcomePython:

In [12]:
str1 = 'Python'
print("Welcome %s" % str1)

Welcome Python

Using other data types:

Similarly, when using other data types

%d -> Integer
%e -> exponential
%f -> Float
%o -> Octal
%x -> Hexadecimal

In [13]:
str1 = 'newton'
print("welcome %e" %15)

welcome 1.500000e+01

In [14]:
print("welcome %d" %15 )

welcome 15

In [15]:
print("welcome %f" %15)

welcome 15.000000

In [16]:
str1 = 'World'
str2 = ':'
print("Python %s %s" %(str1,str2))

Python World :

In [17]:
print("Sunday\nMonday\nTuesday\nWednesday\nThursday\nFriday\nSaturday")

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [18]:
print('-w3r'*5)

-w3r-w3r-w3r-w3r-w3r

In [19]:
print("""
Language:
\t1 Python
\t2 Java\n\t3 JavaScript
""")

Language:
	1 Python
	2 Java
	3 JavaScript

In [20]:
print("%f" % 5.1234567890)

5.123457

In [21]:
print("%.5f" % 5.1234567890)

5.12346

In [22]:
x = 'shivprasad'
x.lower()

'shivprasad'

In [23]:
x.upper()

'SHIVPRASAD'

In [24]:
x.replace('v','p')

'shipprasad'

In [25]:
x = ('my name IS RAHUL')
x.replace('name','RAHUL')

'my RAHUL IS RAHUL'

In [26]:
x = 'karan'
x.find('r')

2

In [27]:
x = 'karan singh'
x.count('an')

1

# **list**: list can be thought of the most general ression of sequence in pyyhon.
#unlike strings they are mutable meaning the element inside can be changed.
#list are constructed with [] brackets and commas every seperated element in list.
# list is a collection of values and variables.

len = this will give no of elements in a list.

In [28]:
x = 'saisatyam'
len(x)

9

indexing = grab the element at  index 0 which is the  first element

In [29]:
x = 'ant'
print(x[2])

t

slicing = TO access multiple elements. (start:end:step)

In [30]:
x = 'almabetter'
print(x[2:4])

ma

In [31]:
print(x[3:-2])

abett

In [32]:
x = 'rohit sharma'
print(x[2:9:2])

htsa

# functions and methods:
functions and methods
They are independent..
→ fune-name (args, arg2...)
ex. len
can be applied to shing, list. ete.
Methods
→ Specific me, bike shing methods can't be applied to lists
→str-name. method-name Carg1, arg 2.

length functions() = it grab length of the element in a list.

minimum functions() = it gives min value in the element.

sum functions() = it sums all the element in a list.

In [33]:
new_list = [2,6,23,7]
sum(new_list)

38

sorted() = functions returns the sorted list but doesnt change the original list.

In [34]:
new = [1,4,7,4,2,]

In [35]:
sorted(new)

[1, 2, 4, 4, 7]

In [36]:
new = ['joo','boo','soo','loo']
sorted(new)

['boo', 'joo', 'loo', 'soo']

# **methods**

**APPEND**

In [37]:
x = [1,2,3,4,5]
x.append(65)
print(x)

[1, 2, 3, 4, 5, 65]

In [38]:
x = ['boo','few','hoo']
x.append('too')
print(x)

['boo', 'few', 'hoo', 'too']

EXTEND

In [39]:
x = [2,3,4,5]
x.extend([56])
print(x)

[2, 3, 4, 5, 56]

pop = To remove specific index.

In [40]:
x = [2,3,4]
x.pop(2)

4

In [41]:
x = [2,3,4,5]
x.pop(3)

5

In [42]:
x = ['shiv','vicks','cat']
x.pop(1)

'vicks'

remove() = To remove a specific element in a list .

In [43]:
var = ['cat','dog','fox']
var.remove('dog')
print(var)

['cat', 'fox']

count() =  To count all the element in a list.

In [44]:
result = ['k','d','s','d']
result.count('d')

2

In [45]:
result = [1,2,3,4,4]
result.count(4)

2

sort()

In [46]:
ne_list = [1,2,65,4,54]
ne_list.sort()
print(ne_list)

[1, 2, 4, 54, 65]

In [47]:
ne_list.sort(reverse = True)
print(ne_list)

[65, 54, 4, 2, 1]

Reverse() = To reverse all elements in a list.

In [48]:
xc = [4,3,5,6,6,42]
xc.reverse()
print(xc)

[42, 6, 6, 5, 3, 4]

In [49]:
xc = ['gh','j','g']
xc.reverse()
print(xc)

['g', 'j', 'gh']

# **nested list** = A great feature of a python data structure is that they support data
# nesting. This means we can have structure for ex. A list inside a list.

In [50]:
lst_3 = [2,3,4]
lst_1 = ['j','f','d']
lst_2 = [34,5,6,6,4]
list_of_lists = [lst_3,lst_1,lst_2]
print(list_of_lists)

[[2, 3, 4], ['j', 'f', 'd'], [34, 5, 6, 6, 4]]

In [51]:
list_of_lists[0]

[2, 3, 4]

In [52]:
list_of_lists[0][1]

3

In [53]:
my_list = [2,3,4,5,9]
my_list[0]=1
print(my_list)

[1, 3, 4, 5, 9]

In [54]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [55]:
print(nested_list[0])  # Output: [1, 2, 3]
print(nested_list[1][1])  # Output: 5
print(nested_list[2][0])  # Output: 7

[1, 2, 3]
5
7

![python-conditional-statements.jpg]()

## statement = Any instruction written in the source code and executed by the Python interpreter is called a statement. The Python language has many different types of statements like assignment statements, conditional statements, looping statements, etc., that help a programmer get the desired output. For example, p = 9; is an assignment statement.

In [56]:
x = 3
print(1 + 1)
print(len("Hello Team AlmaBetter"))

2
21

In [57]:
y = 3.14
y

3.14

In [58]:
a = 'Mighty'
# b = a == True
a == True

False

In [59]:
# Import statement
import pandas as pd
print(y)

3.14

Multi-line Statements
In Python, the end of a statement is marked by a newline character. But we can make a statement extend over multiple lines with the line continuation character ().

In [60]:
s = 10 + 15+ 30 + \
    49 + 5 + 57 + \
    3 - 54 - 7

In [61]:
s

108

In [62]:
s = (10 + 15+ 30 +
    49 + 5 + 57 +
    3 - 54 - 2)

p = [ 'Hello',
'welcome',
'to Python']

x = 5; p = 83; o = 7

In [63]:
a = 2; b = 3; c = 5
print(a);print(b);print(c)

2
3
5

In [64]:
my_list = [1]
my_tuple = (1,)
my_list, my_tuple

([1], (1,))

In [65]:
a = (1 + 2 + 3 + 4 +

     5 + 6 + 7 +
     8 + 9 + 10)

In [66]:
a

55

In [67]:
type(a)

int

In [68]:
a = 1
b = 2
c = 3

In [69]:
a, b, c = [1, 'a', True], (45, 67), {'Name' : 'rahul' , 'Age' : 22}

In [70]:
a

[1, 'a', True]

In [71]:
b

(45, 67)

In [72]:
c

{'Name': 'rahul', 'Age': 22}

# Python Comments
Comments are very important while writing a program. They describe what is going on inside a program, so that a person looking at the source code does not have a hard time figuring it out.

You might forget the key details of the program you just wrote in a month's time. So taking the time to explain these concepts in the form of comments is always fruitful.

In Python, we use the hash (#) symbol to start writing a comment.

It extends up to the newline character. Comments are for programmers to better understand a program. Python Interpreter ignores comments.

In [73]:
print('Hello')

Hello

# Indentation in Python
It is important to keep a good understanding of how indentation works in Python to maintain the structure and order of your code. We will touch on this topic again when we start building out functions!

Let's create a simple statement that says: "If a is greater than b, assign 2 to a and 4 to b"

Take a look at how to write a simple if statement

In [74]:
a=2
b=1

# if b > a:
#   a = 5
#   b = 5

In [75]:
a

2

In [76]:
b

1

In [77]:
a, b = 3, 2
if a > b:
  print("True")

True

In [78]:
v = 4
b = 2
if v > b:
  print("false")

false

# Conditional Statements
if Statements in Python allows us to tell the computer to perform alternative actions based on a certain set of results.

Verbally, we can imagine we are telling the computer:"Hey if this case happens, perform some action"

We can then expand the idea further with elif and else statements, which allow us to tell the computer: "Hey if this case happens, perform some action. Else, if another case happens, perform some other action. Else, if none of the above cases happened, perform this action."

Let's go ahead and look at the syntax format for if statements to get a better idea of this:

if case1: perform action1 elif case2: perform action2 else: perform action3

In [79]:
if case1 :
  # do some action
  elif case 5 :
    # another action
elif case2 :
  # do some another action
else:
  # do some yet another action

SyntaxError: ignored

In [ ]:
x=20

if x == 30 :
  print('x is greater than 10!')
  print(f'x is {x}')

In [ ]:
x == 20

In [ ]:
if True:
  print('It was true!')

In [ ]:
6==8

In [ ]:
if False:
  print('It was false')

In [ ]:
x = False
y = True

if x:
  print('y was True!')
else:
  print('x is not true')

In [ ]:
city = ('Pune')

if city == ('New Delhi'):
  print('Welcome to the Indian Capital')
elif city == ('Mumbai'):
  print('Welcome to the Financial Capital of India!')
elif city == ('Pune'):
  print('welcome to puneri')
else:
  print('Where are you?')

In [ ]:
person = 'Johnny'

if person == 'John':
    print(f'Welcome {person}!')
else:
    print("Welcome, what's your name?")

In [ ]:
number1 = -2
number2 = 9

if number1 > 0:
  if number2 < 10 :
    print(number2 + number1)
  else:
    print("Should be greater than 10")

elif number1 < 0:
    print("Ah, that's a negative number")
else:
    print("The number is zero!")

Truthy & Falsy
A "truthy" value will satisfy the check performed by if or while statements. We use "truthy" and "falsy" to differentiate from the boolean values True and False.
All values are considered "truthy" except for the following, which are "falsy":
None

False

0

0.0


[] - an empty list

{} - an empty dict

() - an empty tuple

'' - an empty str

In [ ]:
if False:
  print("What do you say?")
else:
  print("I have nothing to say")

In [ ]:
if [None]:
  print("Well I had a really bad day!")
else:
  print("Come on you aced your test.")

In [ ]:
if {1:2,3:4}:
  print("This is True")
else:
  print("This is False")

In [ ]:
num = input("Enter a number:2 ")
num = int(num)
if num % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

In [ ]:
4==4

In [ ]:
4>=8

In [ ]:
3<=2

In [ ]:
8<=7

In [ ]:
6!=6

In [ ]:
7!=3

In [ ]:

indian = ["samosa","bhel","noodles"]
chinese = ["fried rice","egg","spring role"]
italian =["pasta","pizza","cheesi"]

dish = input("enter a  dish name : ")
if dish in indian:
    print("indian")
elif dish in chinese:
    print("chinese")
elif dish in italian:
    print("italian")
else:(" I dont know which cusine is this")

# LOOPS = Loops are important in Python or in any other programming language as they help you to execute a block of code repeatedly. You will often come face to face with situations where you would need to use a piece of code over and over but you don't want to write the same line of code multiple times.

In Python we have mainly two different types of loops :
for loop : In the context of most data science work, Python for loops are used to loop through an iterable object (like a list, tuple, set, etc.) and perform the same action for each entry. For example, a for loop would allow us to iterate through a list, performing the same action on each item in the list.

while loop : The while loop is somewhat similar to an if statement, it executes the code inside, if the condition is True. However, as opposed to the if statement, the while loop continues to execute the code repeatedly as long as the condition is True.

In [ ]:
for item in object:
    statements to do stuff

In [ ]:
got_sports = ['cricket','footabll','volleyball','kabaddi']

In [ ]:
for sports in got_sports[::-1]:
  print(f"Sports {sports}")

In [ ]:
got_sports

In [ ]:
got_houses = ['Stark', 'Arryn', 'Baratheon', 'Tully', 'Greyjoy', 'Lannister', 'Tyrell', 'Martell', 'Targaryen']

In [ ]:
for house in got_houses[::-1]:
  print(f"House {house}")

In [ ]:
got_houses

In [ ]:
# Using enumerate function to loop through the elements of a list
for number,house in enumerate(got_houses):
  print(f"The house no of house {house} is {number + 1}")

In [ ]:
x = 1,2

In [ ]:
x

In [ ]:
list(enumerate(got_houses))

In [ ]:
# The list of numbers
list_of_numbers = [1, 2, 4, 6, 11, 14, 17, 20]

In [ ]:
# Let us first print the squares
for number in list_of_numbers:
  squared_number = number**2
  print(f"The square of {number} is {squared_number}")

In [ ]:
list_of_numbers

In [ ]:
squared_numbers = []

for number in list_of_numbers:
  square = number**2
  # Use the append method to add the numbers one by one to our list
  squared_numbers.append(square)
  # print(squared_numbers)

print(f"The list of squared numbers is {squared_numbers}")

In [ ]:
print(list_of_numbers)
print(squared_numbers)

In [ ]:

# Let us zip the original numbers and squares together and get the dictionary
zipped_dict = dict(zip(list_of_numbers,squared_numbers))

# Let us print the dictionary where the key is the number and the value is the square of that number
print(zipped_dict)

In [ ]:
heisenberg_quote = "It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in. I am not in danger, Skyler. I am the danger."

In [ ]:
words_by_walter = heisenberg_quote.split(' ')
print(words_by_walter)

In [ ]:
# Now we can print each word by iterating through this list
for word in words_by_walter:
  if word not in ['I','you']:
    print(f"The word is {word}")

# While Loops
# The while statement in Python is one of the most general ways to perform iteration. A while statement will repeatedly execute a single statement or group of statements as long as the condition is true. The reason it is called a 'loop' is because the code statements are looped through over and over again until the condition is no longer met.
# The general format of a while loop is:
while test:

    code statements

else:

    final code statements

In [ ]:
x = 0

while x < 10:
  print('x is currently: ',x)
  print('x is still less than 10, adding 1 to x')
  x=x+1

Notice how many times the print statements occurred and how the while loop kept going until the False condition was met, which occurred once x==10. It's important to note that once this occurred the code stopped. Let's see how we could add an else statement:

In [ ]:
x = 0

while x < 5:
  print('x is currently: ',x)
  print(' x is still less than 10, adding 1 to x')
  x+=1

print("All done")
print("I am done with the iterations")

break, continue, pass
We can use break, continue, and pass statements in our loops to add additional functionality for various cases. The three statements are defined by:

break: Breaks out of the current closest enclosing loop.

continue: Goes to the top of the closest enclosing loop.

pass: Does nothing at all.


Thinking about break and continue statements, the general format of the while loop looks like this:
while test:
    code statement

    if test:

        break

    if test:

        continue

else:

In [ ]:
x = 0

while x < 10:
  print('x is currently: ',x)
  print(' x is still less than 10, adding 1 to x')
  # x+=1
  if x==3:
    print('x==3')
    break
  else:
    print('continuing...')
    continue

In [ ]:
x = 0

while x < 10:
  print('x is currently: ',x)
  print(' x is still less than 10, adding 1 to x')
  x+=1
  break

else:
  print('continuing...')

What are list comprehensions?

List comprehensions are a tool for transforming one list (any iterable actually) into another list. During this transformation, elements can be conditionally included in the new list and each element can be transformed as needed.

List comprehensions in Python are great, but mastering them can be tricky because they don’t solve a new problem: they just provide a new syntax to solve an existing problem.

From loops to comprehensions

Every list comprehension can be rewritten as a for loop but not every for loop can be rewritten as a list comprehension

In [ ]:
list_of_numbers = [1, 2, 4, 6, 11, 14, 17, 20]

In [ ]:
squared_numbers = []

for number in list_of_numbers:
  # Use the append method to add the numbers one by one to our list
  squared_numbers.append(number**2)
  # print(squared_numbers)

print(f"The list of squared numbers is {squared_numbers}")

In [ ]:
list_num = [2,3,4,5,66,]
for num in list_num:
  squarred_num = []
  squarred_num.append(num**2)

  print(f"list is squarred number is {squarred_num}")

In [ ]:
list